
.parallax {
	 /* The image used */
	 background-image: url("img_parallax.jpg");

	 /* Set a specific height */
	 height: 500px;

	 /* Create the parallax scrolling effect */
	 background-attachment: fixed;
	 background-position: center;
	 background-repeat: no-repeat;
	 background-size: cover;
}

.c-bg-marron {
	background-color: #A56C0A;
}

.c-bg-blue-kumon {
	background-color: #92DCF7;
}

.c-bg-pink {
	background-color: #F181A9
}
